[*.cs]

# CS1591: Commentaire XML manquant pour le type ou le membre visible publiquement
dotnet_diagnostic.CS1591.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = suggestion

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = suggestion

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none
